html,
body,
#container,
.carousel {
  height: 100%;
  margin: 0;
  width: 100%;
}

.image-slide {
  height: 100%;
  width: 500px;
  text-align: center;
  transition: background-image 0.3s ease-in-out;
}

.slide-arrow {
  color: #14b6d4;
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 50%;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}

.image-container {
  position: relative;
}
.image-label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  background-color: #fff;
}
